<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title | default: site.github.repository_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    {% include header.html %}
    
    <main id="content" class="main-content" role="main">
      {{ content }}
      
      <footer class="site-footer">
        <span class="site-footer-owner">SLC-PFM</span>
      </footer>
    </main>
  </body>
</html>
